@model IEnumerable<WEB.CRUDAJAX.NET.Models.Customer>
    @using cust = WEB.CRUDAJAX.NET.Models.Customer;
   
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRUD con Jquery AJAX</h1>
    <p class="lead">Tabla</p>

    <table id="tblClientes" class="table" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width:100px">Cliente Id</th>
            <th style="width:150px">Nombre</th>
            <th style="width:150px">Ciudad</th>
            <th></th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        @foreach (cust cliente in Model)
        {
            <tr>
                <td class="CustomerId">
                    <span>@cliente.CustomerId  </span>
                </td>
                <td class="Name">
                    <span>@cliente.Name</span>
                    <input type="text" value="@cliente.Name" style="display:none" />
                </td>
                <td class="Country">
                    <span>@cliente.Country</span>
                    <input type="text" value="@cliente.Country" style="display:none" />
                </td>
                <td>
                    <a class="Edit" href="javascript:;">Editar</a>
                    <a class="Update" href="javascript:;" style="display:none">Actualizar</a>
                    <a class="Cancel" href="javascript:;" style="display:none">Cancelar</a>
                    <a class="Delete" href="javascript:;">Eliminar</a>
                </td>
            </tr>
        }
    </table>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 150px">
                Nombre:<br />
                <input type="text" id="txtName" style="width:140px" />
            </td>
            <td style="width: 150px">
                Ciudad:<br />
                <input type="text" id="txtCountry" style="width:140px" />
            </td>
            <td style="width: 200px">
                <br />
                <input type="button" id="btnAdd" value="Agregar" />
            </td>
        </tr>
    </table>


    <p></p>
</div>



@section scripts {

<script type="text/javascript">
        $(function () {
            //Remove the dummy row if data present.
            if ($("#tblClientes tr").length > 2) {
                $("#tblClientes tr:eq(1)").remove();
            }
        });
        function AppendRow(row, customerId, name, country) {
            //Bind CustomerId.
            $(".CustomerId", row).find("span").html(customerId);

            //Bind Name.
            $(".Name", row).find("span").html(name);
            $(".Name", row).find("input").val(name);

            //Bind Country.
            $(".Country", row).find("span").html(country);
            $(".Country", row).find("input").val(country);
            $("#tblClientes").append(row);
        };

        //Add event handler.
        $("body").on("click", "#btnAdd", function () {
            var txtName = $("#txtName");
            var txtCountry = $("#txtCountry");
            $.ajax({
                type: "POST",
                url: "/Home/CrearCliente",
                data: '{name: "' + txtName.val() + '", country: "' + txtCountry.val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var row = $("#tblClientes tr:last-child").clone(true);
                    AppendRow(row, r.CustomerId, r.Name, r.Country);
                    txtName.val("");
                    txtCountry.val("");
                }
            });
        });

        //Edit event handler.
        $("body").on("click", "#tblClientes .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#tblClientes .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();

            var customer = {};
            customer.CustomerId = row.find(".CustomerId").find("span").html();
            customer.Name = row.find(".Name").find("span").html();
            customer.Country = row.find(".Country").find("span").html();
            $.ajax({
                type: "POST",
                url: "/Home/EditarCliente",
                data: '{cliente:' + JSON.stringify(customer) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });

        //Cancel event handler.
        $("body").on("click", "#tblClientes .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });

        //Delete event handler.
        $("body").on("click", "#tblClientes .Delete", function () {
            if (confirm("Esta seguro de eliminar el dato?")) {
                var row = $(this).closest("tr");
                var customerId = row.find("span").html();
                $.ajax({
                    type: "POST",
                    url: "/Home/EliminarCliente",
                    data: '{clienteid: ' + customerId + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        row.remove();

                    }
                });

                //("#tblClientes").reload();
                window.location.reload();
            }
        });
</script>
}